@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&dislay=swap'):
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.left{
	position: relative;
	background: #003147;
	padding: 40px;
}

.right{
	position: relative;
	background: #fff;
	padding: 40px;
}

.profiletext
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);	
}

.profiletext .image
{
	
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profiletext .image img
{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profiletext h2
{
	color: #fff;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.4em;
}

.contact
{
	padding-top: 40px;
}

.title
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.contact ul li
{
    
	list-style: none;
	cursor: pointer;
}

.contact ul li .icon
{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4;
}



.contact a:link, a:visited {
  color: #fff; 
  text-decoration: none;
}



.education
{
	padding-top: 30px;
}


.education li
{
	margin-bottom: 15px;
	color: #fff;
}

.education h5
{
	color: #03a9f4;
}

.education h4
{
	font-weight: 300;
}


.education h6
{
	font-weight: 5000;
}

.education .first{
	display: flex;
	flex-direction: row;
	
}

.education .third{
	position: relative;
	top: 98px ;
}


.portfolio
{
	margin-bottom: 50px;

}

a:link {
  color: black; 
  text-decoration: none;

}

.language ul li
{
	list-style: none;
}

.about
{
margin-bottom: 50px;
}

p{
 color: #333;
}


.curricular
{
	margin-bottom: 50px;

}

.title2
{
	color: #003147;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}



.training
{
	margin-bottom: 50px;

}

.skills
{
	margin-bottom: 50px;

}


.interest ul li
{
    
	list-style: none;
}




.intrst {
  max-width: 30%;
  float: left;
  

}
